<div class="draft-history-container">
  <div class="draft-history-inner">
    <input
      type="range"
      class="form-range w-100"
      [min]="-1"
      [max]="total() - 1"
      [value]="controlled ? (currentIndex ?? index()) : index()"
      [step]="1"
      (input)="setIndex(($any($event.target).valueAsNumber))"
    />
    <div class="d-flex justify-content-between small mt-1">
      <span>{{ index() < 0 ? 'Start' : (index() + 1) + ' / ' + total() }}</span>
      <span>{{ total() }} events</span>
    </div>
  </div>
  
</div>


