@use 'bootstrap/scss/bootstrap' as *;
@use 'bootstrap-icons/font/bootstrap-icons.css' as *;
@use './variables' as vars;


html, body {
  background-color: vars.$body-bg !important;
  color: #fff;
}

@keyframes soft-blink {
  0% { opacity: 1; }
  50% { opacity: 0.65; }
  100% { opacity: 1; }
}

.antonio-100 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.antonio-300 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.antonio-400 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.antonio-700 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
