<app-picks-bans-panel
  [imageById]="imageById()"
  [champions]="championsItems()"
  [usedIds]="usedIds()"
  (pickedChampion)="pickedChampion($event)"
  [disableGrid]="disableGrid()"
/>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    @if (isReady()) {
      <button
        type="button"
        class="btn antonio-700 px-4 py-2"
        (click)="confirmSelection()"
        [disabled]="!confirmable()"
        [class.btn-secondary]="!confirmable()"
        [class.btn-warning]="confirmable()"  
      >
        {{ confirmable() ? ('common.confirm' | translate) : (isFinished() ? ('common.finished' | translate) : ('common.waiting' | translate)) }}
      </button>
    } @else {
      <button 
        type="button" 
        class="btn btn-warning antonio-700 px-4 py-2" 
        (click)="ready()" 
        [disabled]="isReady()"
        >
        {{ 'common.ready' | translate }}
      </button>
    }
  </div>
</div>