@use 'styles/variables' as vars;

.panel-bans {
  height: vars.$panel-height;
}

.bans {
  width: 100%;
  height: vars.$panel-height;

  .ban { width: 100%; }
  .champion-image { width: 100%; height: 100%; object-fit: cover; }
  &.blue { justify-content: flex-start; }
  &.red { justify-content: flex-end; }
}

.pending {
  animation: soft-blink vars.$soft-blink-duration ease-in-out infinite;
  border-bottom: vars.$border-thickness solid;
  &.blue { border-color: vars.$brand-blue; }
  &.red { border-color: vars.$brand-red; }
}

.placeholder {
  cursor: default;
  background-color: #222643;
  &.pending { background-color: #373c5f; }
  &.red, &.blue { width: 100%; }
}
