<app-bans-panel
  [bansBlue]="bansBlue()"
  [bansRed]="bansRed()"
  [hasStarted]="hasStarted()"
  [getImageById]="getImageById()"
>
  <div bans-center class="d-flex justify-content-center gap-2">
    <app-team-name 
      [side]="'blue'" 
      [name]="teamNameBlue()" 
      [current]="step()?.side === 'blue'" 
      class="team-name-wrapper blue" 
    />
    <app-timer 
      [value]="countdown()" 
      class="countdown-wrapper" 
    />
    <app-team-name 
      [side]="'red'" 
      [name]="teamNameRed()" 
      [current]="step()?.side === 'red'" 
      class="team-name-wrapper red"
    />
  </div>
</app-bans-panel>

<app-picks-panel
  [picksBlue]="picksBlue()"
  [picksRed]="picksRed()"
  [usedIds]="usedIds()"
  [disableGrid]="disableGrid()"
  [isPending]="isPending()"
  [isSpec]="isSpec()"
  [getImageById]="getImageById()"
  [getNameById]="getNameById()"
  (pickedChampion)="pickedChampion.emit($event)"
/>
