@use 'bootstrap/scss/bootstrap' as *;

$panel-height: 4.1rem;
$team-name-font-size: 1.8rem;
$soft-blink-duration: 1.6s;
$border-thickness: 4px;
$brand-blue: #007bff;
$brand-red: #dc3545;

.panel-bans {
  height: $panel-height;
}

.bans {
  width: 100%;
  height: $panel-height;
  .ban { width: 100%; }
  .champion-image { width: 100%; height: 100%; object-fit: cover; }
  &.blue { justify-content: flex-start; }
  &.red { justify-content: flex-end; }
}

.team-name {
  font-size: $team-name-font-size;
  line-height: 1;
  width: 100%;
  &.blue {
    text-align: left;
    background: linear-gradient(90deg, rgba(0, 183, 255, 1) 50%, rgba(0, 183, 255, 0) 100%);
  }
  &.red {
    text-align: right;
    background: linear-gradient(270deg, rgb(255, 62, 62) 60%, rgba(65, 0, 0, 0.267) 100%);
  }
  &.red, &.blue {
    -webkit-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
  }
}

@keyframes soft-blink {
  0% { opacity: 1; }
  50% { opacity: 0.85; }
  100% { opacity: 1; }
}

.pending {
  animation: soft-blink $soft-blink-duration ease-in-out infinite;
  border-bottom: $border-thickness solid;
  &.blue { border-color: $brand-blue; }
  &.red { border-color: $brand-red; }
}

.placeholder {
  background-color: #f0f0f0;
  &.pending { background-color: #e0e0e0; }
  &.red, &.blue { width: 100%; }
}

.countdown-badge {
  font-size: $team-name-font-size;
  text-transform: uppercase;
  line-height: 1;
}

.antonio-100 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.antonio-300 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.antonio-400 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.antonio-700 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
